@font-face {
  font-family: Minecart;
  src: url('Minecart LCD.ttf');
}

body {
  /*Gradient*/
    background-color: black;
    background-image: radial-gradient(
      rgba(204, 204, 0, 0.75), rgb(153,204,0) 120%
  );
  height: 100vh;
}

body, body * {font-family: Minecart}

/*FONT SIZE*/
@media only screen and (max-width: 768px) {
  body, body * {  
    font-size: 16px 
  }
}

@media only screen and (min-width: 768px) {
  body, body * {  
    font-size: 24px
  }  
}

#pnlBanks * { font-size: 12px }

/*
 * utilities for bordering
 *  */
.bl {border-left: 2px dotted black;}
.br {border-right: 2px dotted black;}


.tc {text-align: center !important}
/* blurry lines */
/*
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
   background: -moz-repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}
*/

/* button look & feel */
.btn { border: 2px dotted black !important;}

/*
 * tab classes
 * .tab
 * .tab-header
 * .tab-v
 */
 
/*
 * Controlpanel class
 * all main control divs under the header
 */
.controlPanel { border: 2px dotted black; min-width:350px; min-height: 300px}

.controlPanel aside { font-size: 16px; }
.controlPanel aside button { padding: 4px; width: 100%; border: none; border-bottom: 2px dotted black }

/* add/remove this to hide */
.hidden {display: none !important}

/*
 * internal tab panel
 */
 
@media only screen and (max-width: 768px) { 
  .panel {padding-left: 2px; padding-right: 2px}
  .panel * {margin-top: 2px; margin-bottom: 2px;}

  .tab-header, .big-btn {
      padding: 4px;
   }
   
   .tab-header, .big-btn, .big-btn * {font-size: 16px !important;}
   .big-icon { font-size: 20 px !important}
}

@media only screen and (min-width: 768px) { 
  .panel {padding-left: 5%; padding-right: 5%}
  .panel * {margin-top: 4px; margin-bottom: 4px;}

  .tab-header, .big-btn {
      padding: 8px !important;
    }
    
   .tab-header, .big-btn, .big-btn * {font-size: 24px !important;}
   
  .big-icon {font-size: 32px !important;}
}

button, select, .btn, .fx-btn {
  background-color: transparent;
  color: black;
}

button, .btn, .fx-btn {
  border: 2px dotted black;
}

.fx-btn button { border: none !important}

.fx-btn .text::before {content : "< "}
.fx-btn .text::after {content : " >"}
/**
 * head tab headers look and feel
 */
.toolbar  button {border: none !important;}
.toolbar tr td {border: 2px dotted black; text-align:center}
.toolbar { border: 2px dotted black; border-collapse: collapse}

.tab-h button { border-right:none; border-bottom:none !important }
.tab-h button:last-child {border-right: 2px dotted black !important}

.tab-v button {
  width: 100% !important;
  display: block !important;
  border-style: dotted;
  border-width: 0px 0px 2px 0px;
 }

button:hover, .btn-selected, .btn-selected *, button:hover *, .fx-btn:hover, .fx-btn:hover * {
  background-color: black !important;
  color: rgba(204, 204, 0) !important;
}

select {border: none; min-width: 45%}

ul.select {
   list-style: none;
   margin:  0;
   padding: 2px;
   border: 1px solid grey;
   overflow: auto;
   height: 300px !important;
   width: 350px;
}

ul.select li {
  font-size: 12px;
   padding: 2px 6px;
}
ul.select li:hover {
   cursor: pointer;
}
ul.select li.selected {
   background-color: black;
   color: white;
}

.knob {
  border-radius: 1rem;
  background-color: black;
  color: rgb(153,204,0);
  text-align:center;
  height:40px;
}

input[type=checkbox].check {display:hidden;}
input[type=checkbox] + label {
  border: none !important;
  margin-left: 5px !important;
}

input[type=checkbox] + label::before {content: '[ ] '; }
input[type=checkbox][checked] + label::before { content: '[X]';}

.itext {
  background-color: transparent;
  border: 2px dotted black;
}
.toggle {
  border-radius: 10px;
}
